{% load bootstrap4 %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% if title %}
    <title> Awards {{title}}</title>
    {% else %}
    <title> Awards</title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registration.css'%}"> {% endblock styles %}
</head>

<body>
    {% block content %} {% endblock content%} {% block scripts %} {% bootstrap_javascript %} {% endblock scripts %}

</body>

</html>